
build
.idea
.gradle
*.iml

logs
*.log

# Eclipse Setting
/.metadata
/Servers
.settings
.project
.classpath
.buildpath

# Maven
target

# Netbeans Ignore
nbproject
dist
private

#idea project
*.iws
*.ipr

#Project Spesific
src/main/resources/application.yaml